body{
    color: white;
    text-align: center;
	font-size: 20;
}

#content {
	width: 600;
	margin: auto;
}

#leftTable {
	width: 50%;
	float: left;
	margin: auto;
}

#rightTable {
	width: 50%;
	float: right;
	margin: auto;
}

td {
	padding: 10px;
}